.room-page {
    display: grid;
    grid-template-areas:
            "header header header header header"
            "left content content content right"
            "left content content content right"
            "left content content content right";
    height: 100vh;
}

#rooms-panel, #message-panel, #members-panel {
    overflow-y: scroll;
}

#rooms-panel {
    grid-area: left;
    border-right: 0.2em solid #242424;
}

#main {
    grid-area: content;
    display: flex;
    flex-direction: column;
}

#members-panel {
    grid-area: right;
    border-left: 0.2em solid #242424;
}

#message-field {
    flex-grow: 1;
}

#messages {
    flex-grow: 1;
}